.service{
    margin: 2rem 0.5rem;
    box-sizing: border-box;
}
.service_title{
    font-size: 30px;
    padding-bottom: 4rem;
    text-align: center;
}

.our_services{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem;
}

.card_plane{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(218, 230, 218);
    background-color: rgb(221, 248, 222);
}

.card_light{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(218, 230, 218);
    background-color: white;
}


/* .service_light{
    background-color: rgb(221, 248, 222);
}
.service_light{
    padding: 1.5rem 2rem;
    height: 10rem;
    color: rgb(4, 4, 52);    
    font-size: 18px;
    font-weight: 800;
}

.service-col-light:hover{
    border: 2px solid rgb(7, 219, 7);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.service-bg-light > i{
    font-size: 50px;
}
.service-col-white{
    background-color: white;
}
.service-bg-white{
    padding: 1.5rem 2rem;
    height: 10rem;
    color: rgb(4, 4, 52);
    font-size: 18px;
    font-weight: 800;
}
.service-col-white:hover{
    border: 2px solid rgb(7, 219, 7);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.service-bg-white > i{
    font-size: 50px;
}

@media only screen and (max-width: 667px){
    .service-bg-white{
        padding: 1% 1%;
        font-size: 14px;
    }
    .service-bg-light{
        padding: 1%  1%;
        font-size: 14px;
    }
} */