.academics{
    margin: 2rem 0.5rem;
    box-sizing: border-box;
}
.academics-title{
    font-size: 30px;
    padding-bottom: 4rem;
    text-align: center;
}
.academics-col-light{
    background-color: rgb(221, 248, 222);
     border: 1px solid #cfead4;
     padding-top: 2rem;
}
.academics-bg-light{
    height: 10rem;
    color: rgb(4, 4, 52);    
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}
.academics-col-light:hover{    
    border: 2px solid rgb(7, 219, 7);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.academics-bg-light > i{
    font-size: 50px;
}
.academics-col-white{
    background-color: white;
    border: 1px solid #cfead4;
    padding-top: 2rem;
}
.academics-bg-white{
    height: 10rem;
    color: rgb(4, 4, 52);
    font-size: 18px;
    font-weight: 800;
    text-align: center;    
}
.academics-col-white:hover{
    border: 2px solid rgb(7, 219, 7);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.academics-bg-white > i{
    font-size: 50px;
}

@media only screen and (max-width: 667px){
    .academics-bg-white{
        padding: 1% 1%;
        font-size: 14px;
    }
    .academics-bg-light{
        padding: 1%  1%;
        font-size: 14px;
    }
}