.principal_officers{
    width: 50%;
    margin: 2rem auto;
    text-align: center;
}
.principal_officers h1{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 2rem;
}
.principal_officers hr{
    height: 0.2rem;
    background-color: rgb(226, 230, 227);
    border: none;
}
.principal_officers img{
    width: 50%;
    height: 60vh;
    margin: 1rem 0rem;
    border-radius: 10px;
}
.principal_officers .position{
    font-size: 20px;
    font-weight: 900;
}
.principal_officers .name{
    font-size: 20px;
    font-weight: 600;
}


.support_units h1{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 2rem;
    text-align: center;
}
.support_units .support{
    display: grid;
    gap: 1rem;   
    width: 70%;
    margin: 2rem auto;
    grid-template-columns: repeat(3,1fr);
}
.support_card{
    border: 1px solid rgb(192, 235, 192);
    text-align: center;
    padding: 2rem;
     border-radius: 10px;
}
.about{
    background-color: green;
}

@media(max-width:667px){
    .principal_officers{
        width: 100%;
        padding: 1rem;
    }
    .principal_officers img{
        width: 100%;       
    }
    .support_units{
        padding: 1rem;
    }
    .support_units .support{
    width: 100%;
    grid-template-columns: repeat(2,1fr);
}
}